@media screen and (max-width: 576px) {
    #hero-section {
    background-position: center;
}
    nav h2 {
        font-size: 32px;
    }
    nav ul, nav button {
        display: none;
    }
    nav img {
        display: inline;
    }
    nav {
        padding: 20px;
    }
    .about-podcast-container-2 {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
}
.grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.grid-blurb {
    grid-column: span 1;
    grid-row: span 1;
}
.grid-blurb img {
    padding-top: 0;
}
.meet-container {
    flex-direction: column;
    text-align: center;
}
.social-container{
    align-items: center;
    justify-content: center;
}
.meet-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.meet-container img {
    width: 100%;
}

}


@media screen and (min-width: 577px) and (max-width: 992px) {}