@import "tailwindcss";


nav h2 span, .footer-container h2 span {
  background-image: linear-gradient( #9100F8, #FB09B4, #F7E93F);
  background-clip: text;
  color: transparent;
}
nav button, .btn-group button:first-child {
    background: linear-gradient(200deg, #9100F8, #FB09B4, #F7E93F);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
nav button:hover, .btn-group button:first-child:hover {
    background: linear-gradient(20deg, #9100F8, #FB09B4, #F7E93F);
}
.circle-img button {
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

/* about podcast section styles */
.about-podcast-container {
    border-bottom: 1px solid rgba(83, 60, 114, 1);
}
.grid-blurb h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0;
}
.grid-blurb {
    background-color: #2a0f4d;
    padding: 30px;
    border-radius: 40px;
}
.host-blurb h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0;
}
.social-container div{
 display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    cursor: pointer;
}
.social-container div:hover{
    border: 1px solid #9100F8;
}
.card {
    overflow: hidden;
}
.icon-list-duration {
    color: #00FF88;
}
