@import "tailwindcss";

nav h2 span {
  background-image: linear-gradient( #9100F8, #FB09B4, #F7E93F);
  background-clip: text;
  color: transparent;
}
nav button {
    background: linear-gradient(200deg, #9100F8, #FB09B4, #F7E93F);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
nav button:hover {
    background: linear-gradient(20deg, #9100F8, #FB09B4, #F7E93F);
}
